section.b-store
	h2.h2._title Котлы/котельное оборудование
	._header
		._sort
			._header-title Показать сначала:
			._vars
				each variable in ['дорогие', 'дешёвые', 'популярные']
					._var= variable
			._arrow
		._order
			._header-title Выводить по:
			._vars
				each variable in [8, 16, 24, 32]
					._var= variable
			._arrow
	._items
		each item in storeList
			.b-product-card._item
				a(href=item.link, title=item.title)._link-img 
					img(src=item.img, alt=item.title)
				h3.h3._title
					a(href=item.link, title=item.title)._link= item.title
					if	item.onStock
						._on-stock
							+icon('tick', 'product-card__on-stock-icon')
							p в наличии
					else
						._on-stock.-delivery
							+icon('wheel', 'product-card__delivery-icon')
							p 
								| под заказ 
								span= item.deliveryDay
								|  дней
					._price
							span=item.price
							|  ₽
							if item.oldPrice && item.oldPrice > item.price
								._old-price= item.oldPrice
					btn.btn.-success._btn(data-product= item.id)
						+icon('lil__cart', 'product-card__btn-icon')
					if item.sale
						._sale
							span= item.salePercent
							|  %
	._footer
		.b-pagination._pagination
			._arrow.-disable.-left
				+icon('pag-arrow', 'pagination__icon')
			._num.-current 1
			._num 2
			._num 3
			._dot ...
			._num 10
			._arrow
				+icon('pag-arrow', 'pagination__icon')

